@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");

body {
	margin: 0px;
}
h1 {
	font-family: "Montserrat";
}
.post-container {
	width: 70%;
	height: 100%;
	margin: 0px auto 0px auto;
	background-color: #fffafa;
}

.post-container .date {
	color: #008080;
	font-family: "Roboto";
}

.post-container div.post-content {
	width: 90%;
	font-family: "Open Sans";
	font-weight: normal;
}

.post-container .post {
	margin-bottom: 50px;
	padding-top: 20px;
	padding-left: 50px;
}
